<!DOCTYPE html>
<html>
<head>
    <script src="uap.js"></script>
    <meta charset="UTF-8">
    <title>User Authentication Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="uap.css">
</head>

<body>
    <form method="POST">
        <h1>Autenticação</h1>
        <hr/>
        <div class="formcontainer">
            <div class="container"></div>
            <label for="username"><strong>UsersID</strong></label>
            <input type="text" id="email" name="email" required>
            </div>
            <div class="container">
            <label for="password"><strong>Password</strong></label>
            <input type="password" id="pass" name="pass" placeholder="Password" required>
            </div>
            <button type="submit" name="bttn">Login</button>
        </div>
    </form>
</body>