<!DOCTYPE html>
<html>
  <head>
    <script src="uap.js"></script>
    <meta charset="UTF-8">
    <title>User Authentication Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/uap.css') }}">
  </head>

  <body>
    <form method="POST">
      <h1>Autenticação</h1>
      <hr/>
      <div class="formcontainer">
        <div class="container">
          <label for="username"><strong>Email</strong></label>
          <input type="text" id="email" name="email" list="saved_mail" placeholder="Email" oninput='onInput()' required>
          <datalist id="saved_mail">
            {% for key, value in dic_mail.items() %}
              <option value={{key}}>
            {% endfor %}
          </datalist>
        </div>

        <script>          
          function onInput() {

            let data = JSON.parse('{{ dic_mail | tojson }}');
            var email = document.getElementById("email").value;
            var emails = document.getElementById('saved_mail').childNodes;
            var password = document.getElementById("pass").value;
            for (var i = 0; i < emails.length; i++) {
              if (emails[i].value === email) {
                var email = emails[i].value;
                var pass = data[email];
                var password = document.getElementById("pass").setAttribute("value", pass);
                break;
              }
            }
          }
          
        </script>

        <div class="container">
          <label for="password"><strong>Password</strong></label>
          <input type="password" id="pass" name="pass" placeholder="Password" value="{{ pass }}" required>
        </div>
        <button type="submit" name="bttn" value="Submit">Login</button>
      </div>
      {% if is_valid == False %} 
      <p style="color: red;">Invalid credentials or the server is invalid for us.</p>
      {% endif %}
    </form>


    <div class="footer"></div>
      <footer>
        <p>The authentication protocol being used is E-CHAP (Challenge-Handshake Authentication Protocol)</p>
      </footer>
    </div>
  </body>

</html>